<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <!-- header section -->
    <%-include('templates/_headers.ejs')%>
    <!-- end header section -->


    <!-- main section -->
    <section id="main">
        <div class="main">
         
            <!-- main left  -->
          <div class="mainleft mains">
           <h2 class="mainhead">Track Your <span>Todo's</span> With Us!!</h2>
           <div class="mainpara">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ducimus corrupti exercitationem sed sequi repellat accusantium alias quae sit hic incidunt eum unde, pariatur consequatur natus nobis iste. Accusantium, itaque.</p>
           </div>
           <div class="main-button">
              <a href="/dashboard/<%= user._id %>"><button class="start">Start Tracking</button></a>
              <a href="/Explore"><button class="ye">Explore</button></a>
           </div>
          </div>
          <!-- end left -->
          <!-- main right -->
          <div class="mainright mains">
             <div class="mainrightbox">
               <div class="box box1">

               </div>
               <div class="box box2">

               </div>     
             </div>
          </div>
          <!-- end main right -->
         
        </div>
       </section>
       <!-- end main section -->
   
       
</body>
</html>