<!-- sidenav -->
<section id="sidenav">
 <div class="sidenav">
     <div class="head">
        <h2>Logo</h2>
     </div>
     <div class="dashnav navsec">
        <hr>
        <ul>
            <li class="navitem"><img src="/img/icon/dash.png" alt=""><a href="/dashboard" class="navlink">Dashboard</a></li> 
            <li class="navitem"><img src="/img/icon/profile.png" alt=""><a href="/profile" class="navlink">Profile</a></li>
        </ul>
     </div>
     <div class="mainnav navsec">
        <hr>
        <ul>
            <li class="navitem"><img src="/img/icon/home.png" alt=""><a href="/home" class="navlink">Home</a></li> 
            <li class="navitem"><img src="/img/icon/about.png" alt=""><a href="/about" class="navlink">About</a></li>
            <li class="navitem"><img src="/img/icon/contact.png" alt=""><a href="/contact" class="navlink">Contact</a></li>
            <li class="navitem"><img src="/img/icon/settings.png" alt=""><a href="/Settings" class="navlink">Settings</a></li>
        </ul>
     </div>
     <div class="footnav navsec">
         <hr>
         <ul>
            <li class="navitem"><img src="/img/icon/logout.png" alt=""><a href="/logout" class="navlink">Logout</a></li> 
            <li class="navitem"><img src="/img/icon/help.png" alt=""><a href="/help" class="navlink">Help</a></li>
         </ul>
     </div>
 </div>
</section>
<!-- end sidenav -->